.main {
     position: relative;
     background: linear-gradient(180deg, #DEDDE2 0%, #E3E6ED 44.29%, #DDE6EF 100%);

     padding-top: 100px;

     &__article {
          
          padding: 92px 0px 0px 0px;
          display: flex;
          flex-direction: column;
     }

     &__text {
          z-index: 2;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
     }

     &__title {
          font-style: normal;
          font-weight: 700;
          font-size: 68px;
          line-height: 64px;
          max-width: 553px;
          margin-bottom: 30px;
          

          &-blue{
               color: #307FE2;
          }

          &-orange{
               color: #F87C56;
          }
     }

     &__button {
          padding: 15px 36px;
          background: $Blue;
     }

     &__image-row {
          z-index: 0;
          position: absolute;
          top: 0;
          right: 0;
     }
}

//Media

@media screen and (max-width: $mobile) {
     .main{
          padding-top:0px;
          background: linear-gradient(270deg, #CFCDCE 0%, #DADADC 44.29%, #DEDDE2 100%);
          position: relative;


          &__container{
               padding: 0px 20px;
          }

          &__text{
               align-items: center;
          }

          &__title{
               text-align: center;
               font-weight: 700;
               font-size: 44px;
               line-height: 95%;
          }

          &__article{
               // flex-direction: row;
               align-items: center;
               padding-bottom: 40vh;
          }

          &__image-row{
               position: static;
               
          }

          &__image{
               margin: 0px auto;
               height: auto;
               width: 100%;
               position: absolute;
               bottom: 0;
               left:0;
          }
     }
}
